@model DetailView

@{
    ViewData["Title"] = "Detail";
}

<h2>Park Details</h2>

<form method="get" asp-controller="home" asp-action="detail">

    <img src="~/images/@(Model.Park.ParkCode).jpg" alt="Image of @Model.Park.ParkName" />

    <h3>@Model.Park.ParkName</h3>

    <p>@Model.Park.Description</p>


    @foreach (var forecast in Model.fiveDay)
    {
        <p>@forecast.Low</p>
        <p>@forecast.High</p>
        <p>@forecast.Forecast</p>
        <p>@forecast.FiveDayForecastValue</p>

    }

</form>


