@model DetailView

@{
    ViewData["Title"] = "Detail";
    DateTime day = new DateTime();
    day = DateTime.Now;
}
    <div class="parkDetailBackground"></div>

    <h2 class="parkNameDetail"><strong>@Model.Park.ParkName</strong></h2>

    <div class="picAndQuote">
        <img class="detailImage" src="~/images/@(Model.Park.ParkCode).jpg" alt="Image of @Model.Park.ParkName" />
        <p class="quote">"@Model.Park.Quote"</p>
        <p class="quoteSource">@Model.Park.QuoteSource</p>
        <form asp-controller="home" asp-action="weather" method="post" asp-route-id="@Model.Park.ParkCode" class="tempConverter">
            @Html.RadioButton("Degree", "F", true) Fahrenheit
            <br />
            @Html.RadioButton("Degree", "C", false) Celsius
            <br />
            <input class="button" type="submit" value="Click To Convert" />
        </form>
        <br />
    </div>


    <div class="forecasts">
        @foreach (var forecast in Model.fiveDay)
        {
            <div class="forecastDay">
                <div class="date">
                    @day.DayOfWeek |
                </div>

                @if (forecast.Degree == "F")
                {
                    <p class="tempHeader">Low:</p>
                    if (forecast.Low < 20)
                    {
                        <p class="weather">@forecast.Low</p>
                        <p>Bundle up, be aware of the dangers of exposure to frigid temperatures!!</p>
                    }
                    else
                    {
                        <p class="weather">@forecast.Low</p>
                    }

                    <p class="tempHeader">High:</p>
                    if (forecast.High > 75)
                    {
                        <p class="weather">@forecast.High</p>
                        <p>Be sure to bring an extra gallon of water!!</p>

                    }
                    else
                    {
                        <p class="weather">@forecast.High</p>
                    }

                    if (forecast.High - forecast.Low >= 20)
                    {
                        <p>Be sure to wear breathable layers!!!</p>
                    }
                }
                else
                {
                    <label>Low:</label>
                    @if (forecast.Low < -7)
                    {
                        <p class="weather">@forecast.Low</p>
                        <p>Bundle up, be aware of the dangers of exposure to frigid temperatures!!</p>
                    }
                    else
                    {
                        <p class="weather">@forecast.Low</p>
                    }


                    <label>High:</label>
                    @if (forecast.High > 24)
                    {
                        <p class="weather">@forecast.High</p>
                        <p>Be sure to bring an extra gallon of water!!</p>
                    }
                    else
                    {
                        <p class="weather">@forecast.High</p>
                    }

                    @if (forecast.High - forecast.Low >= 11)
                    {
                        <p>Be sure to wear breathable layers!!!</p>
                    }
                }

                <img class="weatherImg" src="~/images/@(forecast.Forecast).png" />

                @if (forecast.Forecast == "rain")
                {
                    <p>Be sure to pack some rain gear and waterproof shoes!!</p>
                }

                else if (forecast.Forecast == "snow")
                {
                    <p>Bundle up and be sure to pack your snow shoes!!</p>
                }
                else if (forecast.Forecast == "thunderstorms")
                {
                    <p>Seek shelter and avoid hiking on exposed ridges!!</p>

                }
                else if (forecast.Forecast == "sun")
                {
                    <p>Pack sunblock!!</p>
                }

                <!-- why you do this -->
                <div class="hidden">@(day = day.AddDays(1))</div>
            </div>
        }
    </div>
    <div class="parkDetailContainer">
        <div class="parkDetails">
            <p class="detailDescription">@Model.Park.Description</p>
            <h2 class="detailTitle"><strong>Park Information</strong></h2>
            <p class="yearDetail">Founded in @Model.Park.YearFounded</p>
            <h4 class="state">Located in @Model.Park.State.</h4>
            <p class="acreage"><strong>Total Acres:</strong> @Model.Park.Acreage ac.</p>
            <p class="elevation"><strong>Elevation:</strong> @Model.Park.ElevationInFeet ft.</p>
            <p class="milage"><strong>Miles of Trail:</strong> @Model.Park.MilesOfTrail mi.</p>
            <p class="campsites"><strong>Number of Campsites:</strong> @Model.Park.NumberOfCampsites</p>
            <p class="climate"><strong>Climate:</strong> @Model.Park.Climate</p>
            <p class="visitors"><strong>Annual Visitors:</strong> @Model.Park.AnnualVisitorCount</p>
            <p class="fee"><strong>Entry Fee:</strong> $@Model.Park.EntryFee</p>
            <p class="animals"><strong>Number of Animal Species:</strong> @Model.Park.NumberOfAnimalSpecies</p>
        </div>
    </div>